@model IEnumerable<Entities.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Tienda</h2>

<div class="row">
  @foreach (var item in Model) {
    <div class="col-xs-6 col-md-4 box">
      <img src="/images/product-default.png" alt="@item.Title" />
      <div class="caption">
        <h3>@item.Title</h3>
        <p>@item.Description</p>
        <h4>$ @item.Price</h4>
        <!-- <a class="btn btn-primary">Comprar</a> -->
      </div>
    </div>
  }
</div>
