@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    We build .NET Core apps can run anywhere.
                    <a class="btn btn-default" href="https://github.com/fguini/leathergoods">
                        Go to Git Repository
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
      <h1 class="martop-2 marbottom-1">Students</h1>
      <ul>
        <li class="marbottom-2">
          <h2>
            <a href="https://github.com/fguini/" target="new">Facundo Guini</a>
          </h2>
        </li>
        <li class="marbottom-2">
          <h2>
            <a href="https://github.com/marcopuccio/" target="new">Marco Puccio</a>
          </h2>
        </li>
      </ul>
    </div>
</div>
